body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
}

form {
    margin-top: 20px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 15px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}